*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
samples

.vim/plugin
.vim/plugged/
.vim/dein/
.vim/bundle/
.zsh/extention/
.vim/view/
.vim/coc-settings.json
